<!DOCTYPE html>

<html xml:lang="sv" lang="sv">
<head>
  <meta charset="UTF-8" />
  <title>Småstads kommun</title>
  <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
  <div id="wrapper">
    <header id="logo">
      <h1>Småstad</h1>
      <p>Kommunen där vi bryr oss om varandra</p>
    </header><!-- End header -->
    <p class="info">Du är inloggad som handläggare</p>
    <nav>
      <ul>
        <li><a class="reports" asp-controller="Investigator" asp-action="startInvestigator">Start(Ärenden)</a></li>
        <li class="right"><a class="logout" asp-controller="Account" asp-action="Logout">Logga ut</a></li>
      </ul>
    </nav><!-- End Nav -->
    <main>
      @RenderBody()
    </main>
  </div>
</body>
</html>